.navbar-right
  - if @report.printable
    = link_to current_url(format: :pdf), class: 'btn btn-primary', target: '_blank', id: 'print_report', style: 'margin-top: 5px; margin-left: 5px;', title: 'Export as PDF' do
      %i.fa.fa-print
      = " Print"
  - if @report.exportable
    = link_to current_url(format: :csv), target: '_blank', class: 'btn btn-primary', target: '_blank', id: 'export_report', style: 'margin-top: 5px; margin-left: 5px;', title: 'Export as CSV' do
      %i.fa.fa-file
      = " CSV"
