%table.table.table-hover
  %thead
    %tr
      - @data[:labels].each_with_index do |label, i|
        %th{class: table_class_from_format(@data[:formats][i])}= label
    %tbody
      - @data[:data].each do |row|
        %tr
          - row.zip(@data[:formats]).each do |col, format|
            %td{class: table_class_from_format(format)}= format_using_format(col, format)
