var encodedString = '#{@key}';
var decodedText = $("<p/>").html(encodedString).text();
var panel_id = "row-detail-"+decodedText;
$('[id="'+panel_id+'"]').html("#{escape_javascript(render @details_view)}");
